.logo{
  width:250px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
h3{
  margin-top:0;
}
body{
  background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  text-align: center;
  font-size: 22px;
}
h2{
  color: black;
}
 .links_item{
   display:block;
   max-width: 550px;
   margin:0 auto 15px;
   margin-bottom:0px;
   padding:15px 20px;
   margin-bottom: 20px;
  height: 40px;
   line-height: 1.5;
   text-decoration: none;
   transition: all 0.2s ease-in-out;
   color:white;
   font-family: 'Karla', 'Karla', sans-serif
 }

 .links_item_link1{
  border-bottom: 3px solid #000000;
  box-shadow: inset 0 -4px 0 #000000;
  border: 2px solid #000000;
  background-color: #000000;
}
.links_item_link2{
 border-bottom: 3px solid #7b082c;
 box-shadow: inset 0 -4px 0 #7b082c;
 border: 2px solid #7b082c;
 background-color: #7b082c;
}
.links_item_link3{
 border-bottom: 3px solid #ae0e41;
 box-shadow: inset 0 -4px 0 #ae0e41;
 border: 2px solid #ae0e41;
 background-color: #ae0e41;
}
.links_item_link4{
 border-bottom: 3px solid #eeac18;
 box-shadow: inset 0 -4px 0 #eeac18;
 border: 2px solid #eeac18;
 background-color: #eeac18;
}
.links_item:hover{
   opacity: 0.75;

 }

 @media only screen and (max-width:500px)
 {
   .links_item{
     /* text-transform: uppercase; */
     padding: 20px;
     margin-bottom: 20px;
    height: 60px;
    font-size: 24px;
   }
   .links_item_link1,
   .links_item_link3,
   .links_item_link4{
     padding-top: 25px!important;
    line-height: 50px;
   }
    .links_item_link2{
   padding-top: 15px!important;
     padding-bottom: 30px!important;
   }
 }
